.gantt-schedule-timeline-calendar {
  font-family: sans-serif;
}
.gantt-schedule-timeline-calendar__chart-gantt-items-row-item {
  line-height: calc(var(--row-height) - 10px);
}
.gantt-schedule-timeline-calendar__chart-gantt-items-row-item-content {
  border-radius: 10px;
  border: none;
  background: #f75c4c;
  /*box-shadow: 0px 10px 10px #f75c4c20;*/
  /*border: 1px solid #e74c3c;*/
}
.gantt-schedule-timeline-calendar__chart-gantt-items-row-item--row_2-item_2
  .gantt-schedule-timeline-calendar__chart-gantt-items-row-item-content {
  background: #f39c12;
  border: 1px solid #f1892d;
}
